URxvt*foreground: lightgrey
URxvt*background: black
URxvt*scrollBar: false
! URxvt*font: xft:Bitstream Vera Sans Mono:size=10
URxvt*font: xft:-misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
URxvt*letterSpace: -1
URxvt*internalBorder: 1
URxvt*cursorBlink: 0
URxvt*visualBell: off
URxvt*jumpScroll: true
URxvt*skipScroll: true
URxvt*saveLines: 32768


URxvt.perl-ext: selection, mark-yank-urls, selection-to-clipboard


XTerm*foreground: lightgray
XTerm*background: black
XTerm.vt100.faceName: Bitstrea:size=12:antialias=true
